#!/bin/sh

dgraphVersion=${newDgraphVersion}
LocalPath=${newLocalPath}
addrHost=${newAddrHost}

#Zero Configs
bindall=${newBindall}
zeroPort=${NewZeroPort}

#Server Configs
my_server_memory=${newMy_server_memory}