#!/bin/sh

dgraphVersion=${newDgraphVersion}
addrHost=${newAddrHost}
Rep0=3
zeroPortDF=5080
ServerReplicasDF=6
DfcurlAdd='https://raw.githubusercontent.com/MichelDiz/test/master/test.sh'

#Zero Configs
bindall=${newBindall}
zeroPort=${zeroPortDF}
zeroReplicas=${Rep0}
idxk8s=${newIdxk8s}
serviceName='"dgraph-zero"'
#Server Configs
ServerReplicas=${ServerReplicasDF}
my_server_memory=${newMy_server_memory}
StorageType=${SType}

curlCommand=$NewcurlCommand

#safe command templating
clipCommandServerLine2=$AWAITCMD
pipeCmd='|'
clipCommandServerLine5=$NewclipCommandServerLine5
