#!/bin/sh

dgraphVersion=${newDgraphVersion}
addrHost=${newAddrHost}
Rep0=3
zeroPortDF=5080
alphaReplicasDF=6
DfcurlAdd='https://raw.githubusercontent.com/MichelDiz/test/master/test.sh'

#Zero Configs
bindall=${newBindall}
zeroPort=${zeroPortDF}
zeroReplicas=${Rep0}
idxk8s=${newIdxk8s}
serviceName='"dgraph-zero"'
#alpha Configs
alphaReplicas=${alphaReplicasDF}
my_alpha_memory=${newMy_alpha_memory}
StorageType=${SType}

curlCommand=$NewcurlCommand

#safe command templating
clipCommandalphaLine2=$AWAITCMD
pipeCmd='|'
clipCommandalphaLine5=$NewclipCommandalphaLine5
